* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/*Design for app wrapper*/
.app-wrapper {
    display: grid;
    grid-template-columns: 20% auto 20%;
}

/*Design for Nav bar*/
.nav-bar {
    height: 100vh;
    background-color: #adefd1ff;
}

.profile-pic {
    width: 100%;
    height: auto;
    text-align: center;
    margin: 80px auto 60px auto;
}

.name {
    color: green;
    font-weight: bold;
}

.my-pic {
    width: 80px;
    height: 80px;
    border-radius: 50%;   
}

.nav-items {
    width: 100%;
    height: auto;
}

.nav-items ul {
    margin-left: 50px;
}

.nav-items ul li {
   padding: 5px;
   text-decoration: none;
   list-style: none;
   cursor: pointer;
}

.nav-items li a  {
    font-size: 20px;
    text-decoration: none;
    color:#0e2a47;
}

.nav-items li a:hover  {
    color: green;
}

.li-icon {
    margin-right: 5px;
}

/*Design for Main content*/
.main-content {
    height: 100vh;
    display: flex;
    color: #fff;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #0e2a47;
}

.main-title {
    font-size: 50px;
    padding: auto 10px auto 10px;
}

/*Design for right side bar*/
.right-side-bar {
    height: 100vh;
    color: #0e2a47;
    background-color: #adefd1ff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*Design for courses page*/
.courses {
    text-align: center;
}

.courses h2 {
    margin: 60px auto 60px auto;
    color: #0e2a47;
}

.courses-content {
    width: 60%;
    margin: auto;
    display: grid;
    grid-template-columns:  80px 80px 80px;
    grid-template-rows: 20px 20px 20px;
    grid-gap: 60px;
    justify-items: center;
    justify-content: center;
}

.course-item {
    background-color: #adefd1ff;
    width: 80px;
    height: 20px;
    padding: 10px;
    border-radius: 15px;
    color: #0e2a47 ;
}

.course-options {
    margin: 40px auto auto auto;
}

.course-options {
    width: 420px;
    margin-top: 80px;
    display: flex;
    justify-content: space-around;
}

.course-btn {
    width: 200px;
    height: auto;
    padding: 15px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    font-size: 20px;
    color: #adefd1ff;
    background-color: #0e2a47;
}


/*Design for commynity page*/
.community-title {
    text-align: center;
    margin-top: 30px;
    color:  #0e2a47
}

.form {
    text-align: center;
}

.form ul {
    display: flex;
    height: 500px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.prof-pic {
    width: 300px;
    height: 300px;
    border-radius: 10px;
    padding-bottom: 20px;
}

.user-name {
    font-size: 20px;
}

.btn-form {
    padding: 30px;
    border: none;
    cursor: pointer;
    margin-top: -80px;
    font-size: 20px;
    border-radius: 15px;
    color: #fff;
    background-color: #0e2a47;
}

.btn-form:hover {
    background-color: #adefd1ff;
    color: #0e2a47;;
}

/*Design for Game page*/
/* .poke-items {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, auto);
} */

.game-title {
    text-align: center;
    color: #0e2a47;
    margin-top: 30px;
}

.poke-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    margin-top: 30px;
}

.items {
    margin-bottom: 10px;
    width: 30%;
    height: auto;
}

/*Design for Cocktail page*/
.cocktails {
    display: flex;
    text-align: center;
}

.cocktail-title {
    color: #0e2a47;
}

.drinks {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.drink-img {
    width: 300px;
    height: 300px;
    margin-bottom: 10px;
    margin-top: 40px;
    border-radius: 10px;
    box-shadow: 3.5px 2.6px 2px rgba(0, 0, 0, 0.031),
    7.8px 5.9px 4.7px rgba(0, 0, 0, 0.041),
    14.2px 10.8px 8.9px rgba(0, 0, 0, 0.048),
    26px 19.8px 15.9px rgba(0, 0, 0, 0.054),
    53.6px 40.7px 29.7px rgba(0, 0, 0, 0.06),
    137px 104px 71px rgba(0, 0, 0, 0.07);
}
.text {
    margin-bottom: 5px;
    font-size: 20px;
    color: #0e2a47;
}

.btn-cocktail{
    padding: 30px;
    border: none;
    cursor: pointer;
    font-size: 20px;
    border-radius: 15px;
    margin-top: 10px;
    color: #fff;
    background-color: #0e2a47;
}

.btn-cocktail:hover {
    background-color: #adefd1ff;
    color: #0e2a47;;
}
