* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/*Design for app wrapper*/
.app-wrapper {
    display: grid;
    grid-template-columns: 20% auto 20%;
}

/*Design for Nav bar*/
.nav-bar {
    height: 100vh;
    background-color: #adefd1ff;
}

.profile-pic {
    width: 100%;
    height: auto;
    text-align: center;
    margin: 80px auto 60px auto;
}

.name {
    color: green;
    font-weight: bold;
}

.my-pic {
    width: 80px;
    height: 80px;
    border-radius: 50%;   
}

.nav-items {
    width: 100%;
    height: auto;
}

.nav-items ul {
    margin-left: 50px;
}

.nav-items ul li {
   padding: 5px;
   text-decoration: none;
   list-style: none;
   cursor: pointer;
}

.nav-items li a  {
    font-size: 20px;
    text-decoration: none;
    color:#00203fff;
}

.nav-items li a:hover  {
    color: green;
}

.li-icon {
    margin-right: 5px;
}

/*Design for Main content*/
.main-content {
    height: 100vh;
    display: flex;
    color: #fff;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #00203fff;
}

.main-title {
    font-size: 50px;
    padding: auto 10px auto 10px;
}

/*Design for Left side bar*/
.left-side-bar {
    height: 100vh;
    color: #00203fff;
    background-color: #adefd1ff;
}

/*Design for courses page*/
.courses {
    text-align: center;
}

.courses h2 {
    margin: 60px auto 60px auto;
    color: #00203fff;
}

.courses-content {
    width: 60%;
    margin: auto;
    display: grid;
    grid-template-columns:  80px 80px 80px;
    grid-template-rows: 20px 20px 20px;
    grid-gap: 60px;
    justify-items: center;
    justify-content: center;
}

.course-item {
    background-color: #adefd1ff;
    width: 80px;
    height: 20px;
    padding: 10px;
    border-radius: 15px;
    color: #00203fff ;
}

.course-options {
    margin: 40px auto auto auto;
}

.course-options {
    width: 420px;
    margin-top: 80px;
    display: flex;
    justify-content: space-around;
}

.course-btn {
    width: 200px;
    height: auto;
    padding: 15px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    font-size: 20px;
    color: #adefd1ff;
    background-color: #00203fff;
}